doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/styles.css")
        title 10x19
    body

        a(href="/").title
            span 10
            span ✕
            span 19
        span
        span.menu Menu
        .column-rows
            .number #10
            .number #9
            .number #8
            .number #7
            .number #6
        .center
        .column-rows
            .number #5
            .number #4
            .number #3
            .number #2
            .number #1
        span
        .scrolling__text
            .text__tags
                span.tags__span Learning gulp and SCSS with clone coding
                span.tags__span Learning gulp and SCSS with clone coding
        span
        script(src="./img.js")