doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/styles.css")
        title 10x19
    body

        span.title ⭕❌⭕
        span.menu Menu
        .column-rows
            .number #10
            .number #9
            .number #8
            .number #7
            .number #6
        .scrolling__text
            span test this text
        .column-rows
            .number #5
            .number #4
            .number #3
            .number #2
            .number #1
        .center-image